{% extends 'general/base.html' %}

{% block title %}
    Rankingbot
{% endblock %}

{% block body %}
    <h1>Rankingbot</h1>
    <h2>Huidige rankings</h2>
    <p>Hier vind je info over de huidige rankings terug</p>

    <div class="row gy-4 gx-4">
        {% for ranking in rankings %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ ranking.name }}</h3>
                        <a href="{% url 'website:ranking_detail' ranking.rid %}" class="stretched-link"> Ranking bekijken</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}